DATABASE_URL="postgresql://postgres:postgres@localhost:5434/ai_knowledge_base"
JWT_SECRET="change-me"
GEMINI_API_KEY="your-gemini-key"

# CLOUDINARY
CLOUDINARY_CLOUD_NAME="dmftjw0ul"
CLOUDINARY_API_KEY="911353668633717"
CLOUDINARY_API_SECRET="7yuZDeyWgeSX4zXUnoHvtnYWlRw"
JWT_EXPIRES_IN="7d"